<div class="container">
    <form>
        <mat-form-field>
        <input
            matInput
            name="user"
            placeholder="User"
            [(ngModel)]="user">
        </mat-form-field>

        <mat-form-field>
        <input
            matInput
            name="password"
            type="password"
            placeholder="Password"
            [(ngModel)]="password">
        </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-stroked-button class="header_login cancel-button" color="primary" (click)="onClose()">Cancelar</button>
        <button mat-flat-button class="header_login login-button" color="primary" (click)="login()">Sign In</button>

        @if(errorMessage) {<p class="error"> {{ errorMessage }} </p>}

    </div>
</div>